<div class="d-flex align-items-center justify-content-center"> 
    <h1>Welcome to My Scheduled Tweets</h1>    
</div>

<% if @user %>
    Logged in as: <%= @user.email %>
    <%= button_to "Log out", logout_path, method: :delete %>
<% end %>